# Python
# backend/app/__pycache__/
backend/**/__pycache__
backend/venv
backend/.env

# React / Vite
frontend/app/node_modules
frontend/app/dist
frontend/app/.env
frontend/app/.env.local
frontend/app/.env.*.local
*.tsbuildinfo

# General
.claude